:root {
  --primary-color: #6c63ff;
  --secondary-color: rgb(255, 255, 255);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 800px;
  text-align: center;
}
h1 {
  font-size: 96px;
  position: relative;
  bottom: 50px;
}
h2 {
  font-size: 48px;
  position: relative;
  bottom: 270px;
}
h3 {
  font-size: 30px;
  opacity: 0.7;
  position: relative;
  bottom: 110px;
  left: 50px;
}
.about-button a {
  text-decoration: none;
  color: var(--primary-color);
}

.about-button {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 20px;
  left: 25px;
  padding: 20px 15px;
  position: relative;
}
.about-button:hover {
  text-decoration: underline;
}

.contact-button a {
  text-decoration: none;
  color: var(--secondary-color);
}
.contact-button:hover {
  text-decoration: underline;
}

.contact-button {
  padding: 20px 15px;
  border-radius: 4px;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  font-size: 20px;
}

.navigation-buttons {
  position: relative;
  bottom: 50px;
}
